<a href="https://colab.research.google.com/github/Wilheim-ops/UgracenaStore/blob/main/BudgetCalculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Fixed expenses
adm_bca = 15000
adm_bni = 5000
gold = 30000/12

adm = adm_bca+adm_bni+gold
bpjs = 167500
stnk = 27000
tax = 210000

#Floating expenses
pulsa = 30000
bensin = 100000
servis = 200000
lunch = 100000

listrik = 800000
air = 50000
bills = listrik+air
others = 300000

ee = pulsa+bensin+servis+lunch+bills+others

def budget(a):
  zakat = a*(25/1000)
  gross = a-adm-bpjs-tax-stnk-zakat
  investment = (gross)*20/100
  nett = gross-investment
  print(int(nett))
  print("Invest: ", int(investment))
  print("Zakat: ",int(zakat))
  return nett

#Balance scale
def scale(b):
  hasil = b-ee
  if hasil<0:
    cad = ee-500000
    hasil1=b-cad
    print("Minus", int(hasil))
    print("To balance backup", int(hasil1))
  else:
    print("To balance", int(hasil))

In [ ]:
income = int(input("Salary: "))
nett_gaji = budget(income)
scale(nett_gaji)

Salary: 2260000
1421200
Invest:  355300
Zakat:  56500
Minus -158800
To balance backup 341200

In [ ]:
a = ee+adm+bpjs+tax+stnk
ap = a*(25/1000)
ai = (a-ap)*(25/100)
a+ap+ai

2556700.4166666665

In [ ]:
850000-78927

771073